        <div class="box">
            <div id="cart-<%- data.id %>" class="cart  cart-grey">
                <div class="cat-image"><img src="images/cat-grey.png" alt="CAT"></div>
                <div class="cat-text">
                    <div class="motto grey">Сказочное заморское яство</div>
                    <h3 class="grey">Нямушка</h3>
                    <div class="name grey"><%- data.name %></div>
                    <div class="info grey"><b><%- data.num %></b> порций<br><%- data.mouse %><br><%- data.add %></div>
                    <div class="cat-circle grey_bg">
                        <div class="price"><%- data.netto %></div>
                        <div class="kg">кг</div>
                    </div>
                </div>
            </div>
            <div class="yellow"><%- data.desc %></div>
        </div>